
.footer{
    background: linear-gradient(#C9D6FF)
}


#footer a{
    color: white;
    list-style: none;
    
}

#header img {
    width: 80px;

}


#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.contactenos{ 
    color: #97c93e ;

}


#carousel.overlay .container, 

#carousel.overlay .row  {

    height: 100%;

}

.color{
    color: azure;
}

.enviarServicio{
    text-decoration: none;
    color: bisque;

}

